@import "_reset";

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

a:link {
  color: #0071bc;
}

@import "topmenu/_topmenu";
@import "header/_header";
@import "mainnav/_mainNav";
@import "layout/_layout";
@import "footer/_footer";

@import "news/_news";
@import "magazineInfo/_magazineInfo";
@import "search/_search";
@import "personsList/_personsList";
